In [1]:
#2.
#This is my peer-graded assignment

In [2]:
#3.
#This course introduced us to multiple data science tools, and in this final project, you will use Jupyterlite Notebook,
#one of the easiest tools to share publicly.

In [7]:
#4.
'''Data Science languages
  0.Python.
  1.R.
  2.SQL.
  3.Java.
  4.Julia.
  5.Scala.
  6.C/C++.
  7.JavaScript'''

'Data Science languages\n 0.Python.\n 1.R.\n 2.SQL.\n 3.Java.\n 4.Julia.\n 5.Scala.\n 6.C/C++.\n 7.JavaScript'

In [6]:
#5.
'''
Create a markdown cell to list data science libraries.
1.TensorFlow.
2.NumPy.
3.SciPy.
4.Pandas.
5.Matplotlib.
6.Keras.
8.7.SciKit-Learn.
9.PyTorch.
10.Scrapy.
11.BeautifulSoup.'''

'\nCreate a markdown cell to list data science libraries.\n1.TensorFlow.\n2.NumPy.\n3.SciPy.\n4.Pandas.\n5.Matplotlib.\n6.Keras.\n8.7.SciKit-Learn.\n9.PyTorch.\n10.Scrapy.\n11.BeautifulSoup.'

In [8]:
#6.
'''Table of Data Science tools
 1.Matlab
 2.Apache Spark
 3.SAS
 4.Tableau'''

'Table of Data Science tools\n 1.Matlab\n 2.Apache Spark\n 3.SAS\n 4.Tableau'

In [12]:
#7. 

# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
 #Result: 9

9

In [13]:


code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [16]:

import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [17]:
#8.
(3*4)+5
# Result: 17

17

In [18]:
#9
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

In [20]:
#10.
'''Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). 
In this new cell start with an introductory line titled: Objectives: in bold font. 
Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.'''

'Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). \nIn this new cell start with an introductory line titled: Objectives: in bold font. \nThen using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.'

In [ ]:
#11
'''Author's Name-
MANISH GUPTA'''